[submodule "monero"]
	path = monero
	url = https://github.com/monero-project/monero
	branch = release-v0.18
	shallow = true
[submodule "wownero"]
	path = wownero
	url = https://codeberg.org/wownero/wownero
	shallow = true
	branch = v0.11.3.0
[submodule "zano"]
	path = zano
	url = https://github.com/hyle-team/zano
	branch = v2.1.7.424
	shallow = true
[submodule "wownero_libwallet2_api_c/wownero-seed"]
	path = wownero_libwallet2_api_c/wownero-seed
	url = https://github.com/MrCyjaneK/wownero-seed
	branch = cyjan-namespace2
	shallow = true
